<% if post.reposts.exists?(user: @current_user) %>
    <span><i class='fa-solid fa-retweet repost-button' style='color: green;'></i></span>
<% else %>
    <span><i class='fa-solid fa-retweet repost-button'></i></span>
<% end %>
