/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "actiontext";



/*
 *= require_tree .
 *= require rails_emoji_picker
 *= require bootstrap
 *= require_self
 */

.textarea {
  resize:none;
  outline:none;
}


.label-hover:hover{
  cursor:pointer;
  color:gray;
  opacity: 0.5;
}

input:focus{
  outline: none;
}
div.right_side_bar{
  position: fixed;
  right: 30px;
  top: 10px;
}
.left_sidebar{
  position: sticky;
  top: 0px;
  height: fit-content;
}

.left-sidebar-hover:hover{
  background-color: lightcyan;
  border-radius: 40px;
}


.border-disable{
  border: none;
}

.btn-hover:hover {
  border-radius: 50%;
  background-color: rgb(156, 208, 232);
  color: rgb(58, 58, 228);
  opacity: 0.5;
}

.btn-style{
  padding-top: 0px;
  font-size: 18px;
}

.like-hover:hover{
  color: red;
  box-shadow: 0px 0px 2px 9px #b3343447;
  border-radius: 25px;
  background-color: #b3343447;
}

.link-decoration {
  text-decoration:none;
  color:black;
}

.replay-button:hover{
  color: blue;
  box-shadow: 0px 0px 2px 9px #1a78d047;
  border-radius: 25px;
  background-color: #1a78d047;
}

.repost-button:hover{
  color: green;
  box-shadow: 0px 0px 2px 9px #a1d6a1;
  border-radius: 25px;
  background-color: #a1d6a1;
}