/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "actiontext";
@import "post";
@import "profiles";


/*
 *= require_tree .
 *= require rails_emoji_picker
 *= require bootstrap
 *= require_self
 */

.border-disable {
  border: none;
}

.label-hover:hover {
  cursor:pointer;
  color:gray;
  opacity: 0.5;
}

input:focus {
  outline: none;
}

div.right_side_bar {
  position: fixed;
  right: 30px;
  top: 10px;
}

.left_sidebar {
  position: sticky;
  top: 0px;
  height: fit-content;
}

.right-sidebar {
  margin-left: -5.9rem;
  margin-right: 7rem;
}

.left-sidebar-hover:hover {
  background-color: lightcyan;
  border-radius: 40px;
}

.link-decoration {
  text-decoration:none;
  color:black;
}