<div class="col-lg-3 d-none d-lg-block  w-25 h-25 right_side_bar">
    <div class="right-sidebar">
        <div class="bg-opacity-10 bg-black rounded-pill">
            <div class="row d-flex align-items-center ">
                <div class="col-2 text-end fs-4">
                    <span><i class="fa-solid fa-magnifying-glass ps-4"></i></span>
                </div>
                <div class="col-10"><input type="text"
                    class="form-control-lg border-0 me-1 w-75 bg-transparent" placeholder="Search Twitter">
                </div>
            </div>
        </div>
        <div class="row bg-opacity-10 bg-black mx-1 my-2 pb-3 rounded-3">
            <div class="col">
                <div class="trending">
                    <p class="fs-6 fw-bold py-2">Trends for you</p>
                    <div class="row">
                        <div class="col-9">
                            <p class="m-0">Trending in Pakistan</p>
                        </div>
                        <div class="col-3 text-end">
                            <span><i class="fa-solid fa-ellipsis pe-2"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="fs-6 fw-bold mb-0">Nawaz Sharif</p>
                            <p class="">12.7k Tweets</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-9">
                            <p class="m-0">Technology . Trending</p>
                        </div>
                        <div class="col-3 text-end">
                            <span><i class="fa-solid fa-ellipsis pe-2"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="fs-6 fw-bold mb-0">#TikTok</p>
                            <p class="">101k Tweets</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-9">
                            <p class="m-0">Trending in Pakistan</p>
                        </div>
                        <div class="col-3 text-end">
                            <span><i class="fa-solid fa-ellipsis pe-2"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="fs-6 fw-bold mb-0">Audio</p>
                            <p class="">132k Tweets</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-9">
                            <p class="m-0">Trending in Pakistan</p>
                        </div>
                        <div class="col-3 text-end">
                            <span><i class="fa-solid fa-ellipsis pe-2"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="fs-6 fw-bold mb-0">#Bajwa</p>
                            <p class="">8,104 Tweets</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-9">
                            <p class="m-0">Trending in Pakistan</p>
                        </div>
                        <div class="col-3 text-end">
                            <span><i class="fa-solid fa-ellipsis pe-2"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="fs-6 fw-bold mb-0">Shame</p>
                            <p class="">141k Tweets</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-9">
                            <p class="m-0">Trending in Pakistan</p>
                        </div>
                        <div class="col-3 text-end">
                            <span><i class="fa-solid fa-ellipsis pe-2"></i></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="fs-6 fw-bold mb-0">#dollarvsrupee</p>
                            <p class="">2,449 Tweets</p>
                        </div>
                    </div>
                    <span class="text-info">Show more</span>
                </div>
            </div>
        </div>
    </div>
</div>
